.proposal-property::before {
    content: '';
    width: 92px;
    height: 92px;
    background-image: url('../img/proposal-property.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
