$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorMain: #323264;
$colorMainAlt: #46466E;
$colorMainSoft: #686887;
$colorAccent: #F0145A;
$colorActiveRegular: #24A3FF;
$colorActiveHover: #0085FF;
$colorActiveActive: #006CCF;
$colorGreyBg: #F5F5FA;
$colorGreyBgAlt: #EDEDF7;
$colorGreyText: #B3B3BA;
$colorGreySeparator: #E6E6F0;
$colorPurple: #CACADB;
$colorPurpleLight: #E7E7F2;
$gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradientSoft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradientRed: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$gradientSupersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradientRedText: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$gradientRedTextReverse: linear-gradient(-90.13deg, #F0145A 0.84%, #EF8080 99.96%);
